In [1]:
import yfinance as yf
import pandas as pd

gold_data = yf.download('GLD', start='2015-04-04', end='2024-04-04')

[*********************100%%**********************]  1 of 1 completed

In [ ]:
!pip install yfinance pandas

In [2]:
gold_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-04-06,117.320000,117.470001,116.519997,116.690002,116.690002,5914200
2015-04-07,116.269997,116.510002,115.940002,116.110001,116.110001,2468500
2015-04-08,115.980003,116.029999,114.900002,115.470001,115.470001,5568500
2015-04-09,114.800003,114.849998,114.480003,114.669998,114.669998,4707000
2015-04-10,116.000000,116.190002,115.500000,115.970001,115.970001,3932400
...,...,...,...,...,...,...
2024-03-27,202.320007,203.220001,202.320007,203.100006,203.100006,6041000
2024-03-28,204.539993,206.050003,203.869995,205.720001,205.720001,9194500
2024-04-01,208.679993,208.729996,206.289993,207.820007,207.820007,13677100
2024-04-02,209.070007,211.029999,208.360001,210.889999,210.889999,13421100
2024-04-03,210.570007,212.830002,210.300003,212.740005,212.740005,11416200

In [3]:
gold_data = gold_data.dropna()

In [4]:
gold_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-04-06,117.320000,117.470001,116.519997,116.690002,116.690002,5914200
2015-04-07,116.269997,116.510002,115.940002,116.110001,116.110001,2468500
2015-04-08,115.980003,116.029999,114.900002,115.470001,115.470001,5568500
2015-04-09,114.800003,114.849998,114.480003,114.669998,114.669998,4707000
2015-04-10,116.000000,116.190002,115.500000,115.970001,115.970001,3932400
...,...,...,...,...,...,...
2024-03-27,202.320007,203.220001,202.320007,203.100006,203.100006,6041000
2024-03-28,204.539993,206.050003,203.869995,205.720001,205.720001,9194500
2024-04-01,208.679993,208.729996,206.289993,207.820007,207.820007,13677100
2024-04-02,209.070007,211.029999,208.360001,210.889999,210.889999,13421100
2024-04-03,210.570007,212.830002,210.300003,212.740005,212.740005,11416200

In [5]:
gold_data['MA_10'] = gold_data['Close'].rolling(window=10).mean()
gold_data['MA_50'] = gold_data['Close'].rolling(window=50).mean()
gold_data['Volatility'] = gold_data['Close'].rolling(window=10).std()
gold_data['Return'] = gold_data['Close'].pct_change()

In [6]:
gold_data

,Open,High,Low,Close,Adj Close,Volume,MA_10,MA_50,Volatility,Return
Date,,,,,,,,,,
2015-04-06,117.320000,117.470001,116.519997,116.690002,116.690002,5914200,NaN,NaN,NaN,NaN
2015-04-07,116.269997,116.510002,115.940002,116.110001,116.110001,2468500,NaN,NaN,NaN,-0.004970
2015-04-08,115.980003,116.029999,114.900002,115.470001,115.470001,5568500,NaN,NaN,NaN,-0.005512
2015-04-09,114.800003,114.849998,114.480003,114.669998,114.669998,4707000,NaN,NaN,NaN,-0.006928
2015-04-10,116.000000,116.190002,115.500000,115.970001,115.970001,3932400,NaN,NaN,NaN,0.011337
...,...,...,...,...,...,...,...,...,...,...
2024-03-27,202.320007,203.220001,202.320007,203.100006,203.100006,6041000,201.012003,192.2882,1.156697,0.007241
2024-03-28,204.539993,206.050003,203.869995,205.720001,205.720001,9194500,201.549002,192.6858,1.852472,0.012900
2024-04-01,208.679993,208.729996,206.289993,207.820007,207.820007,13677100,202.360002,193.0948,2.587389,0.010208
2024-04-02,209.070007,211.029999,208.360001,210.889999,210.889999,13421100,203.446002,193.5540,3.586847,0.014772
2024-04-03,210.570007,212.830002,210.300003,212.740005,212.740005,11416200,204.740002,194.0644,4.373278,0.008772

In [ ]:
!pip install scikit-learn

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Define features and target
features = ['MA_10', 'MA_50', 'Volatility', 'Return']
X = gold_data[features]
y = gold_data['Close']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train a regression model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = model.predict(X_test_scaled)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 57.010854578899774

In [18]:
gold_data2 = yf.download('GLD', start='2024-03-02', end='2024-05-24')

[*********************100%%**********************]  1 of 1 completed

In [19]:
gold_data2 = gold_data2.dropna()

In [20]:
gold_data2['MA_10'] = gold_data2['Close'].rolling(window=10).mean()
gold_data2['MA_50'] = gold_data2['Close'].rolling(window=50).mean()
gold_data2['Volatility'] = gold_data2['Close'].rolling(window=10).std()
gold_data2['Return'] = gold_data2['Close'].pct_change()

In [21]:
gold_data2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 58 entries, 2024-03-04 to 2024-05-23
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        58 non-null     float64
 1   High        58 non-null     float64
 2   Low         58 non-null     float64
 3   Close       58 non-null     float64
 4   Adj Close   58 non-null     float64
 5   Volume      58 non-null     int64
 6   MA_10       49 non-null     float64
 7   MA_50       9 non-null      float64
 8   Volatility  49 non-null     float64
 9   Return      57 non-null     float64
dtypes: float64(9), int64(1)
memory usage: 5.0 KB

In [23]:
gold_data2

,Open,High,Low,Close,Adj Close,Volume,MA_10,MA_50,Volatility,Return
Date,,,,,,,,,,
2024-03-04,194.149994,196.330002,193.880005,196.009995,196.009995,12216300,NaN,NaN,NaN,NaN
2024-03-05,197.440002,198.139999,196.649994,197.190002,197.190002,9672200,NaN,NaN,NaN,0.006020
2024-03-06,198.080002,199.300003,197.440002,198.809998,198.809998,10459300,NaN,NaN,NaN,0.008215
2024-03-07,199.539993,200.110001,198.910004,199.940002,199.940002,8403700,NaN,NaN,NaN,0.005684
2024-03-08,200.889999,203.300003,200.449997,201.630005,201.630005,13516800,NaN,NaN,NaN,0.008453
2024-03-11,201.710007,202.410004,201.460007,202.000000,202.000000,7329600,NaN,NaN,NaN,0.001835
2024-03-12,200.419998,200.630005,199.160004,199.789993,199.789993,9436600,NaN,NaN,NaN,-0.010941
2024-03-13,200.440002,201.860001,200.350006,201.190002,201.190002,5930000,NaN,NaN,NaN,0.007007
2024-03-14,200.369995,200.470001,199.339996,200.350006,200.350006,6865000,NaN,NaN,NaN,-0.004175
2024-03-15,199.940002,200.630005,199.570007,199.710007,199.710007,4551500,199.662001,NaN,1.897871,-0.003194
2024-03-18,199.660004,200.149994,199.509995,200.029999,200.029999,7206800,200.064001,NaN,1.398390,0.001602
2024-03-19,199.619995,199.809998,198.940002,199.800003,199.800003,4657500,200.325002,NaN,0.984777,-0.001150
2024-03-20,199.160004,202.660004,199.119995,202.179993,202.179993,9593800,200.662001,NaN,0.985345,0.011912
2024-03-21,203.880005,203.919998,200.600006,201.970001,201.970001,7396500,200.865001,NaN,1.028247,-0.001039
2024-03-22,201.320007,201.860001,199.720001,200.350006,200.350006,6913600,200.737001,NaN,1.001764,-0.008021
2024-03-25,201.190002,201.949997,200.970001,200.990005,200.990005,4034800,200.636002,NaN,0.906680,0.003194
2024-03-26,202.649994,202.759995,201.070007,201.639999,201.639999,5752700,200.821002,NaN,0.903613,0.003234
2024-03-27,202.320007,203.220001,202.320007,203.100006,203.100006,6041000,201.012003,NaN,1.156697,0.007241
2024-03-28,204.539993,206.050003,203.869995,205.720001,205.720001,9194500,201.549002,NaN,1.852472,0.012900
2024-04-01,208.679993,208.729996,206.289993,207.820007,207.820007,13677100,202.360002,NaN,2.587389,0.010208
2024-04-02,209.070007,211.029999,208.360001,210.889999,210.889999,13421100,203.446002,NaN,3.586847,0.014772
2024-04-03,210.570007,212.830002,210.300003,212.740005,212.740005,11416200,204.740002,NaN,4.373278,0.008772
2024-04-04,212.000000,213.449997,211.020004,211.520004,211.520004,12307300,205.674004,NaN,4.747177,-0.005735
2024-04-05,212.490005,215.740005,212.220001,215.139999,215.139999,13363400,206.991003,NaN,5.388896,0.017114
2024-04-08,215.979996,216.809998,214.610001,216.479996,216.479996,10331400,208.604002,NaN,5.590491,0.006228
2024-04-09,217.809998,218.860001,216.449997,217.669998,217.669998,13079300,210.272002,NaN,5.554572,0.005497
2024-04-10,215.369995,217.779999,214.679993,215.610001,215.610001,13317500,211.669002,NaN,4.855078,-0.009464
2024-04-11,216.850006,219.839996,215.889999,219.800003,219.800003,11415200,213.339001,NaN,4.433992,0.019433
2024-04-12,221.869995,225.089996,216.020004,216.889999,216.889999,30876600,214.456001,NaN,3.636636,-0.013239
2024-04-15,217.940002,221.029999,215.160004,220.949997,220.949997,13239000,215.769000,NaN,3.332033,0.018719
2024-04-16,220.179993,221.990005,218.779999,221.220001,221.220001,10746100,216.802000,NaN,3.251664,0.001222
2024-04-17,221.050003,221.759995,218.520004,219.589996,219.589996,11521100,217.487000,NaN,3.013686,-0.007368
2024-04-18,221.309998,221.460007,219.309998,220.339996,220.339996,6496900,218.368999,NaN,2.272935,0.003415
2024-04-19,220.490005,222.360001,220.080002,221.029999,221.029999,8369000,218.957999,NaN,2.099771,0.003132
2024-04-22,216.350006,216.960007,215.139999,215.570007,215.570007,13404300,218.867000,NaN,2.234491,-0.024702
2024-04-23,213.960007,215.860001,213.869995,215.039993,215.039993,10730300,218.603999,NaN,2.526702,-0.002459
2024-04-24,214.759995,216.350006,214.360001,214.639999,214.639999,5741100,218.506999,NaN,2.669024,-0.001860
2024-04-25,214.470001,217.050003,214.339996,215.919998,215.919998,6606500,218.118999,NaN,2.741218,0.005963
2024-04-26,216.770004,217.070007,215.529999,216.619995,216.619995,6268500,218.091998,NaN,2.755958,0.003242
2024-04-29,216.020004,217.220001,215.250000,216.179993,216.179993,6409900,217.614998,NaN,2.615553,-0.002031
2024-04-30,213.380005,214.130005,211.800003,211.869995,211.869995,11248600,216.679997,NaN,2.844816,-0.019937
2024-05-01,212.960007,215.500000,212.410004,213.789993,213.789993,10373900,216.099997,NaN,2.776025,0.009062
2024-05-02,211.899994,213.710007,211.490005,213.130005,213.130005,6287000,215.378998,NaN,2.472104,-0.003087
2024-05-03,212.889999,213.229996,210.710007,212.960007,212.960007,8679900,214.571999,NaN,1.577865,-0.000798
2024-05-06,215.139999,215.910004,214.470001,215.199997,215.199997,6840500,214.534998,NaN,1.556049,0.010518
2024-05-07,214.520004,214.929993,213.880005,214.210007,214.210007,5660700,214.451999,NaN,1.548236,-0.004600
2024-05-08,213.619995,214.800003,213.500000,213.580002,213.580002,4462700,214.345999,NaN,1.570066,-0.002941
2024-05-09,214.479996,216.949997,214.440002,216.949997,216.949997,7732500,214.448999,NaN,1.712153,0.015779
2024-05-10,219.220001,219.600006,218.080002,218.710007,218.710007,8700900,214.658000,NaN,2.092032,0.008113
2024-05-13,217.059998,217.309998,215.800003,216.259995,216.259995,4896300,214.666000,210.0144,2.098641,-0.011202
2024-05-14,217.309998,218.380005,216.979996,218.089996,218.089996,4662700,215.288000,210.4560,2.099627,0.008462
2024-05-15,219.059998,221.190002,217.649994,220.889999,220.889999,9297700,215.998001,210.9300,2.661939,0.012839
2024-05-16,220.139999,220.589996,219.410004,220.029999,220.029999,4301700,216.688000,211.3544,2.729344,-0.003893
2024-05-17,222.179993,223.850006,221.669998,223.660004,223.660004,10481900,217.758000,211.8288,3.167645,0.016498
2024-05-20,223.789993,225.660004,223.020004,224.559998,224.559998,5990900,218.694000,212.2874,3.670734,0.004024
2024-05-21,224.770004,225.210007,223.699997,224.229996,224.229996,4002600,219.695999,212.7320,3.678309,-0.001470
2024-05-22,223.089996,223.240005,219.740005,220.110001,220.110001,8903100,220.348999,213.1384,2.986479,-0.018374
2024-05-23,218.779999,219.229996,215.660004,215.720001,215.720001,9537900,220.225999,213.4290,3.162183,-0.019945

In [25]:
def predict_future_gold_price():
    ma_10 = 220.225999
    ma_50 = 213.4290
    volatility = 3.162183
    return_pct =  -0.019945

    input_data = pd.DataFrame([[ma_10, ma_50, volatility, return_pct]], columns=features)
    input_data_scaled = scaler.transform(input_data)
    future_price = model.predict(input_data_scaled)
    print(future_price)
    return future_price[0]

print(predict_future_gold_price())

[192.14634954]
192.14634954019783

In [ ]:
import requests

def fetch_real_time_gold_price_alpha_vantage():
    API_KEY = 'QYHRK01Q1ORWYPSJ'
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=GLD&interval=1min&apikey={API_KEY}'

    response = requests.get(url)
    data = response.json()
    print(data)
    if "Time Series (1min)" in data:
        latest_time = list(data['Time Series (1min)'].keys())[0]
        latest_data = data['Time Series (1min)'][latest_time]
        latest_price = float(latest_data['4. close'])
        return latest_price
    else:
        print(f"Error fetching data: {data}")
        return None

# Example usage
gold_price = fetch_real_time_gold_price_alpha_vantage()
if gold_price:
    print(f"Real-time gold price (via Alpha Vantage): ${gold_price:.2f}")

In [ ]:
gold_data2 = yf.download('GLD', start='2024-05-14', end='2024-05-25')

In [ ]:
gold_data2

In [27]:
import yfinance as yf
import pandas as pd
import requests
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Fetch historical gold prices (using GLD ETF as a proxy)
gold_data = yf.download('GLD', start='2015-05-08', end='2024-05-24')
print(gold_data.head())

# Handle missing values
gold_data = gold_data.dropna()

# Create relevant features
gold_data['MA_10'] = gold_data['Close'].rolling(window=10).mean()
gold_data['MA_50'] = gold_data['Close'].rolling(window=50).mean()
gold_data['Volatility'] = gold_data['Close'].rolling(window=10).std()
gold_data['Return'] = gold_data['Close'].pct_change()

# Drop rows with NaN values created by rolling window calculations
gold_data = gold_data.dropna()
print(gold_data.head())

# Define features and target
features = ['MA_10', 'MA_50', 'Volatility', 'Return']
X = gold_data[features]
y = gold_data['Close']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train a regression model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = model.predict(X_test_scaled)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

def fetch_real_time_gold_price_alpha_vantage():
    # Replace with your actual Alpha Vantage API key
    API_KEY = 'QYHRK01Q1ORWYPSJ'
    symbol = 'GLD'  # GLD is an ETF that tracks the price of gold
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={symbol}&interval=1min&apikey={API_KEY}'

    response = requests.get(url)
    data = response.json()

    if "Time Series (1min)" in data:
        latest_time = list(data['Time Series (1min)'].keys())[0]
        latest_data = data['Time Series (1min)'][latest_time]
        latest_price = float(latest_data['4. close'])
        return latest_price
    else:
        print(f"Error fetching data: {data}")
        return None

def predict_future_gold_price():
    # Fetch real-time gold data
    gold_price = fetch_real_time_gold_price_alpha_vantage()
    if gold_price is None:
        return None

    # Assume we have the recent values for MA_10, MA_50, Volatility, and Return
    recent_data = gold_data.iloc[-1]
    ma_10 = recent_data['MA_10']
    ma_50 = recent_data['MA_50']
    volatility = recent_data['Volatility']
    return_pct = recent_data['Return']

    # Prepare the input data for prediction
    input_data = pd.DataFrame([[ma_10, ma_50, volatility, return_pct]], columns=features)
    input_data_scaled = scaler.transform(input_data)

    # Predict future gold price
    future_price = model.predict(input_data_scaled)
    return future_price[0]

# Example usage
future_gold_price = predict_future_gold_price()
if future_gold_price:
    print(f"Predicted future gold price: {future_gold_price}")

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2015-05-08  114.339996  114.430000  113.589996  113.970001  113.970001
2015-05-11  114.089996  114.309998  113.080002  113.529999  113.529999
2015-05-12  114.099998  114.669998  114.059998  114.500000  114.500000
2015-05-13  115.739998  116.930000  115.680000  116.550003  116.550003
2015-05-14  117.279999  117.750000  117.029999  117.180000  117.180000

              Volume
Date
2015-05-08   9964100
2015-05-11   2916700
2015-05-12   3256700
2015-05-13  11768200
2015-05-14   6923000
                  Open        High         Low       Close   Adj Close  \
Date
2015-07-20  106.599998  106.650002  105.620003  105.699997  105.699997
2015-07-21  105.809998  106.320000  105.250000  105.370003  105.370003
2015-07-22  104.389999  105.089996  104.180000  104.800003  104.800003
2015-07-23  104.980003  105.300003  104.199997  104.330002  104.330002
2015-07-24  103.610001  105.589996  103.430000  105.349998  105.349998

              Volume       MA_10     MA_50  Volatility    Return
Date
2015-07-20  15751700  110.070000  113.2040    1.754670 -0.027151
2015-07-21  10519800  109.531000  113.0320    2.271037 -0.003122
2015-07-22   8349200  108.902000  112.8574    2.633416 -0.005410
2015-07-23   5779300  108.199001  112.6540    2.834965 -0.004485
2015-07-24  11572700  107.585001  112.4300    2.704922  0.009777
Mean Squared Error: 3.6679581688143945
Predicted future gold price: 217.7726008605957